.modal-title {
  color: #337ab7;
}

.title-lbl {
  font-weight: 600;
}

.applyChecked {
  color: #337ab7;
  min-width: 150px;
  font-size: 0.8rem;
  height: 30px;
}

.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
  top: 0.3rem;
  width: 1.2rem;
  height: 1.2rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 4px;
  padding-left: 2px;
  font-size: 0.9rem;
}

.timeInput {
  width: 80px;
  margin-right: 5px;
  font-size: 0.8rem;
}

.btn-group {
  background-color: #ccc;
  border-radius: 5px;
}

.ampmBtn {
  width: 45px;
  height: 30px;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}

.closeBtn {
  color: white;
  width: 100px;
  background-color: #e06b0bc4;
}

.saveBtn {
  color: white;
  width: 100px;
}
